nav{

    border-bottom: 2px solid dodgerblue;
}
.navbar-brand{

    font-family: 'Sulphur Point', cursive;

}
.nav-link{
color: dodgerblue ;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 20px;

}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 50px;
    width: 50px;
    outline: black;
    background-color: dodgerblue;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 5px  dodgerblue;

}
body{
    color: dodgerblue;
    background-color: white;


}

.navbar-toggler{

    color: dodgerblue;
    border-left:4px solid  dodgerblue;




}

.card{

    margin: 30px;

}