.navbar{
    background-color: white;

}
.nav-link{
color: cornflowerblue ;
}
.carousel-control-next-icon{

    color: red;
    background-color: darkblue;
}
body{

    background-color: lightblue;


}