nav{

    border-bottom: 2px solid dodgerblue;
}
h3{
     font-family: "Bebas Neue";
    font-size: 40px;
    margin-bottom: 60px;


}
.mail{

      width: 700px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.card-title{

     font-family: "Bebas Neue";
    font-size: 25px;
}

li{

    list-style-type: none;
    text-align: left;

    margin-bottom: 15px;
}

#carouselExampleIndicators{

       background-size: 50%; 
    background-image: url("kwikkopie.jpg");
    
}
.navbar-brand{

    font-family: 'Bebas Neue', cursive;
    font-size: 30px;


}

.nav-link{
color: dodgerblue ;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 20px;

}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 50px;
    width: 50px;
    outline: black;
  
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 5px  dodgerblue;

}
body{
    color: dodgerblue;
    background-color: white;


}

.navbar-toggler{

    color: dodgerblue;
  




}

.card{

    margin: 30px;

}